html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 1.4em;
  background: #eeeeee;
  color: #333333;
}

#views {
  width: 520px;
  margin: 0 auto 40px auto;
  background: white;
  
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  
  -moz-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

#work_logs {
  padding: 20px;
}

#work_logs h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  padding: 0 0 10px 0;
}

#work_logs input[type="text"] {
  font-size: 15px;
  font-family: inherit;
  line-height: 1.4em;
  border: 0;
  outline: none;
  border: 1px solid #999999;
  
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
}
#work_logs input[name="task"] {
  width: 350px;
}
#work_logs input[name="hour"] {
  width: 116px;
}

#work_logs input::-webkit-input-placeholder {
  font-style: italic;
}

#work_logs .errors {
  font-style: italic;
  color: red;
}

#work_logs .items {
  margin: 10px 0;
  list-style: none;
}

#work_logs .item {
  padding: 15px 20px 5px 0;
  position: relative;
  font-size: 20px;
  border-bottom: 1px solid #cccccc;
}

#work_logs .item .destroy {
  position: absolute;
  right: 10px;
  top: 16px;
  display: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background: url(../images/destroy.png) no-repeat center center;
}

#work_logs .item:hover .destroy {
  display: block;
}

#work_logs .item span.hour {
  position: absolute;
  right: 100px;
  top: 16px;
}


